In [1]:
import numpy as np
import pandas as pd

# Task 1

## Raw input

In [2]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day4/input.txt', 'r')
Lines = input_txt.readlines()
df = pd.DataFrame(columns=["Raw"])

count = 0
# Strips the newline characters
for i,line in enumerate(Lines):
    count += 1
    df.loc[i] = ([line.strip()])
    
df.head()

           Raw
0  13-53,17-82
1  32-32,32-42
2   85-85,8-86
3  78-80,79-91
4  60-71,59-70

## Transforming

In [3]:
# Making a column that holds each range
df['Range1'] = df['Raw'].str.split(pat=',', n=-1, expand=True)[0]
df['Range2'] = df['Raw'].str.split(pat=',', n=-1, expand=True)[1]
df.head()

           Raw Range1 Range2
0  13-53,17-82  13-53  17-82
1  32-32,32-42  32-32  32-42
2   85-85,8-86  85-85   8-86
3  78-80,79-91  78-80  79-91
4  60-71,59-70  60-71  59-70

In [4]:
# Function to display numbers in a range
def expand(dashed_range):
    split = dashed_range.split('-')
    start = int(split[0])
    end = int(split[1])
    all_nums = [x for x in range(start,end+1)]
    return all_nums

In [5]:
# Expanding eahc range
df['Range1'] = df['Range1'].apply(expand)
df['Range2'] = df['Range2'].apply(expand)
df.head()

,Raw,Range1,Range2
0,"13-53,17-82","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2..."
1,"32-32,32-42",[32],"[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]"
2,"85-85,8-86",[85],"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,..."
3,"78-80,79-91","[78, 79, 80]","[79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 9..."
4,"60-71,59-70","[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71]","[59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]"

## Analysis

In [6]:
# Looking for overlaps

overlap_list = []

for i,x in enumerate(df["Range1"]):
    range1 = x
    range2 = df['Range2'][i]
    
    #Need to determine which range contains more sections for the diff test to work correctly 
    if len(range1) <= len(range2):
        diff_test1 = list(set(range1) - set(range2))
        if len(diff_test1) == 0:
            #Identifiying that there is a full overlap
            overlap_list.append("Full")
        else:
            overlap = list(set(range1)&set(range2))
            if len(overlap) > 0:
                #Identifiying that there is a partial overlap
                overlap_list.append("Partial")
            else:
                overlap_list.append("None")
            
    else:
        diff_test2 = list(set(range2) - set(range1))
        if len(diff_test2) == 0:
            #Identifiying that there is a full overlap
            overlap_list.append("Full")
        else:
            overlap = list(set(range1)&set(range2))
            if len(overlap) > 0:
                #Identifiying that there is a full overlap
                overlap_list.append("Partial")
            else:
                overlap_list.append("None")

In [7]:
df['Overlap'] = overlap_list
df.head(10)

,Raw,Range1,Range2,Overlap
0,"13-53,17-82","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...",Partial
1,"32-32,32-42",[32],"[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]",Full
2,"85-85,8-86",[85],"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Full
3,"78-80,79-91","[78, 79, 80]","[79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 9...",Partial
4,"60-71,59-70","[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71]","[59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]",Partial
5,"91-92,4-90","[91, 92]","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None
6,"90-90,1-90",[90],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",Full
7,"35-49,38-50","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 4...",Partial
8,"31-51,31-52","[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 4...","[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 4...",Full
9,"78-80,81-81","[78, 79, 80]",[81],None

In [8]:
np.sum(df["Overlap"]=="Full")

475

In [9]:
np.sum(df['Overlap'] != 'None')

825