In [1]:
import numpy as np
import pandas as pd
import string

# Task 1

## Raw input

In [2]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day3/input.txt', 'r')
Lines = input_txt.readlines()
df = pd.DataFrame(columns=["Pack","Items"])

count = 0
# Strips the newline character
for i,line in enumerate(Lines):
    count += 1
    df.loc[i] = ([count, line.strip()])
    
# Creating lists and columns for pack compartments
comp1 = []
comp2 = []

for x in df['Items']:
    half = int(len(x)/2)
    first = x[0:(half)]
    second = x[-half:]
    comp1.append(first)
    comp2.append(second)
    
df["Comp1"] = comp1
df["Comp2"] = comp2


df.head()

,Pack,Items,Comp1,Comp2
0,1,shzsFcPssFhjFssBzdpRcNHNZrpdJdJVJZ,shzsFcPssFhjFssBz,dpRcNHNZrpdJdJVJZ
1,2,fwvMCntfCCbSbSbtDgDNrDtDtJHZVH,fwvMCntfCCbSbSb,tDgDNrDtDtJHZVH
2,3,GbCwwbwwnGrLhBzjFFFsWPhL,GbCwwbwwnGrL,hBzjFFFsWPhL
3,4,PpCqRsqqmmtCwMJC,PpCqRsqq,mmtCwMJC
4,5,LHFrLLHDSNHlfWNhDzmjzzJlJzPJMvPJjQ,LHFrLLHDSNHlfWNhD,zmjzzJlJzPJMvPJjQ

## Variables

In [3]:
# Creating a dict with upper and lower case letters and values for mapping
lower_case = [x for x in string.ascii_lowercase]
upper_case = [x for x in string.ascii_uppercase]

priority_dict = {}

for i,x in enumerate(lower_case):
    priority_dict[x] = i+1
    
for i,x in enumerate(upper_case):
    priority_dict[x] = i+27

## Analysis

In [4]:
# Comparing both compartments of each pack to get the common item
matching = []
for i,x in enumerate(df['Comp1']):
    a=list(set(x)&set(df['Comp2'][i]))
    for i in a:
        matching.append(i)

df["Matching items"] = matching
df.head()

,Pack,Items,Comp1,Comp2,Matching items
0,1,shzsFcPssFhjFssBzdpRcNHNZrpdJdJVJZ,shzsFcPssFhjFssBz,dpRcNHNZrpdJdJVJZ,c
1,2,fwvMCntfCCbSbSbtDgDNrDtDtJHZVH,fwvMCntfCCbSbSb,tDgDNrDtDtJHZVH,t
2,3,GbCwwbwwnGrLhBzjFFFsWPhL,GbCwwbwwnGrL,hBzjFFFsWPhL,L
3,4,PpCqRsqqmmtCwMJC,PpCqRsqq,mmtCwMJC,C
4,5,LHFrLLHDSNHlfWNhDzmjzzJlJzPJMvPJjQ,LHFrLLHDSNHlfWNhD,zmjzzJlJzPJMvPJjQ,l

In [5]:
# Mapping the priority values

df["Matching value"] = df["Matching items"].map(priority_dict)
df.head()

,Pack,Items,Comp1,Comp2,Matching items,Matching value
0,1,shzsFcPssFhjFssBzdpRcNHNZrpdJdJVJZ,shzsFcPssFhjFssBz,dpRcNHNZrpdJdJVJZ,c,3
1,2,fwvMCntfCCbSbSbtDgDNrDtDtJHZVH,fwvMCntfCCbSbSb,tDgDNrDtDtJHZVH,t,20
2,3,GbCwwbwwnGrLhBzjFFFsWPhL,GbCwwbwwnGrL,hBzjFFFsWPhL,L,38
3,4,PpCqRsqqmmtCwMJC,PpCqRsqq,mmtCwMJC,C,29
4,5,LHFrLLHDSNHlfWNhDzmjzzJlJzPJMvPJjQ,LHFrLLHDSNHlfWNhD,zmjzzJlJzPJMvPJjQ,l,12

In [6]:
df['Matching value'].sum()

8185

# Part 2

## Variables

In [7]:
elves = len(df)
group_count = int(elves/3)
group_range = [x for x in range(1,group_count+1)]

## Aanalysis

In [8]:
# Creating a column that holds the group number for each elf
group_list = []
for x in group_range:
    group_list = group_list + [x]*3 
    
df["Group"] = group_list
df.head()

,Pack,Items,Comp1,Comp2,Matching items,Matching value,Group
0,1,shzsFcPssFhjFssBzdpRcNHNZrpdJdJVJZ,shzsFcPssFhjFssBz,dpRcNHNZrpdJdJVJZ,c,3,1
1,2,fwvMCntfCCbSbSbtDgDNrDtDtJHZVH,fwvMCntfCCbSbSb,tDgDNrDtDtJHZVH,t,20,1
2,3,GbCwwbwwnGrLhBzjFFFsWPhL,GbCwwbwwnGrL,hBzjFFFsWPhL,L,38,1
3,4,PpCqRsqqmmtCwMJC,PpCqRsqq,mmtCwMJC,C,29,2
4,5,LHFrLLHDSNHlfWNhDzmjzzJlJzPJMvPJjQ,LHFrLLHDSNHlfWNhD,zmjzzJlJzPJMvPJjQ,l,12,2

In [9]:
# Creating a column to hold matching items for each group and a list to hold each group's identifier
group_identifier = []
matching_list = []

for x in group_range:
    df_group = df[df["Group"]==x]
    first = list(df_group["Items"])[0]
    second = list(df_group["Items"])[1]
    third = list(df_group["Items"])[2]
    a=list(set(first)&set(second)&set(third))
    for i in a:
        group_identifier.append(i)
        matching_list = matching_list+([i]*3)

df['Group match'] = matching_list
df.head()

,Pack,Items,Comp1,Comp2,Matching items,Matching value,Group,Group match
0,1,shzsFcPssFhjFssBzdpRcNHNZrpdJdJVJZ,shzsFcPssFhjFssBz,dpRcNHNZrpdJdJVJZ,c,3,1,r
1,2,fwvMCntfCCbSbSbtDgDNrDtDtJHZVH,fwvMCntfCCbSbSb,tDgDNrDtDtJHZVH,t,20,1,r
2,3,GbCwwbwwnGrLhBzjFFFsWPhL,GbCwwbwwnGrL,hBzjFFFsWPhL,L,38,1,r
3,4,PpCqRsqqmmtCwMJC,PpCqRsqq,mmtCwMJC,C,29,2,P
4,5,LHFrLLHDSNHlfWNhDzmjzzJlJzPJMvPJjQ,LHFrLLHDSNHlfWNhD,zmjzzJlJzPJMvPJjQ,l,12,2,P

In [10]:
# Using group identifier to create a new data frame
group_df = pd.DataFrame(group_identifier, columns=['Match'])
group_df.head()

  Match
0     r
1     P
2     V
3     M
4     L

In [11]:
group_df['Value'] = group_df['Match'].map(priority_dict)
group_df.head()

  Match  Value
0     r     18
1     P     42
2     V     48
3     M     39
4     L     38

In [12]:
group_df['Value'].sum()

2817