In [2]:
import numpy as np
import pandas as pd

# Task 1

## Raw input

In [209]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day2/input.txt', 'r')
Lines = input_txt.readlines()
df = pd.DataFrame(columns=["Round","Raw","Predicted"])

count = 0
# Strips the newline character
for i,line in enumerate(Lines):
    count += 1
    df.loc[i] = ([count, line.strip(), line.strip()[0]])
    
# Making a column that holds my strategy
df['Strategy'] = df['Raw'].str.split(pat=None, n=-1, expand=True)[1]

df.head()

   Round  Raw Predicted Strategy
0      1  A Y         A        Y
1      2  A Y         A        Y
2      3  B X         B        X
3      4  A Y         A        Y
4      5  C Y         C        Y

In [210]:
# Creating dictionary that holds the possible outcomes and scores for each (elf, human)

# A X = rock
# B Y = paper
# C Z = scissors

ref = {
    'A X':(3,3),
    'A Y':(0,6),
    'A Z':(6,0),
    'B X':(6,0),
    'B Y':(3,3),
    'B Z':(0,6),
    'C X':(0,6),
    'C Y':(6,0),
    'C Z':(3,3)
}

# Mapping dictionary to the raw input to get scores of each round
df['Results'] = df['Raw'].map(ref)
df.head()

   Round  Raw Predicted Strategy Results
0      1  A Y         A        Y  (0, 6)
1      2  A Y         A        Y  (0, 6)
2      3  B X         B        X  (6, 0)
3      4  A Y         A        Y  (0, 6)
4      5  C Y         C        Y  (6, 0)

In [211]:
# Assining columns to hold the scores for both the elf and myself 
df['Elf round point'] = [x[0] for x in df['Results']]
df['My round point'] = [x[1] for x in df['Results']]
df.head()

   Round  Raw Predicted Strategy Results  Elf round point  My round point
0      1  A Y         A        Y  (0, 6)                0               6
1      2  A Y         A        Y  (0, 6)                0               6
2      3  B X         B        X  (6, 0)                6               0
3      4  A Y         A        Y  (0, 6)                0               6
4      5  C Y         C        Y  (6, 0)                6               0

In [212]:
# Weapon scoring
# rock = 1
# paper = 2
# scissors = 3

# Lists to hold points based on which weapon was use
my_weapon_point = []
elf_weapon_point = []

# Itterating over my weapon choices and appending point values to the list
for x in df['Strategy']:
    if x == 'X':
        my_weapon_point.append(1)
    elif x == 'Y':
        my_weapon_point.append(2)
    else:
        my_weapon_point.append(3)
        
# Itterating over the elf's weapon choices and appending point values to the list
for x in df['Predicted']:
    if x == 'A':
        elf_weapon_point.append(1)
    elif x == 'B':
        elf_weapon_point.append(2)
    else:
        elf_weapon_point.append(3)
        
# Creating columns from lists
df['Elf weapon point'] = elf_weapon_point
df['My weapon point'] = my_weapon_point

df.head()

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,Elf weapon point,My weapon point
0,1,A Y,A,Y,"(0, 6)",0,6,1,2
1,2,A Y,A,Y,"(0, 6)",0,6,1,2
2,3,B X,B,X,"(6, 0)",6,0,2,1
3,4,A Y,A,Y,"(0, 6)",0,6,1,2
4,5,C Y,C,Y,"(6, 0)",6,0,3,2

In [213]:
# Creating total points columns for both the elf and myself
df['Elf total points'] = df['Elf round point'] + df['Elf weapon point']
df['My total points'] = df['My round point'] + df['My weapon point']

df.head()

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,Elf weapon point,My weapon point,Elf total points,My total points
0,1,A Y,A,Y,"(0, 6)",0,6,1,2,1,8
1,2,A Y,A,Y,"(0, 6)",0,6,1,2,1,8
2,3,B X,B,X,"(6, 0)",6,0,2,1,8,1
3,4,A Y,A,Y,"(0, 6)",0,6,1,2,1,8
4,5,C Y,C,Y,"(6, 0)",6,0,3,2,9,2

In [214]:
df['My total points'].sum()

11906

In [215]:
df['Elf total points'].sum()

11945

# Task 2

## Raw input

In [241]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day2/input.txt', 'r')
Lines = input_txt.readlines()
df2 = pd.DataFrame(columns=["Round","Raw","Predicted"])

count = 0
# Strips the newline character
for i,line in enumerate(Lines):
    count += 1
    df2.loc[i] = ([count, line.strip(), line.strip()[0]])
    
# Making a column that holds my strategy
df2['Strategy'] = df2['Raw'].str.split(pat=None, n=-1, expand=True)[1]

df2.head()

   Round  Raw Predicted Strategy
0      1  A Y         A        Y
1      2  A Y         A        Y
2      3  B X         B        X
3      4  A Y         A        Y
4      5  C Y         C        Y

In [242]:
# A dictionary to hold score outcomes (elf, myself)
# X = I need to lose
# Y = I need to draw
# Z = I need to win

ref2 = {
    'X':(6,0),
    'Y':(3,3),
    'Z':(0,6),
}

In [243]:
# Dictionary to let me know what weapon I need to use in each scenario

decision = {'Win':{'A':'Y','B':'Z','C':'X'},
           'Lose':{'A':'Z','B':'X','C':'Y'},
           'Draw':{'A':'X','B':'Y','C':'Z'}}

In [244]:
# Mapping the reference dictionary to get scores

df2['Results'] = df2['Strategy'].map(ref2)
df2.head()

   Round  Raw Predicted Strategy Results
0      1  A Y         A        Y  (3, 3)
1      2  A Y         A        Y  (3, 3)
2      3  B X         B        X  (6, 0)
3      4  A Y         A        Y  (3, 3)
4      5  C Y         C        Y  (3, 3)

In [245]:
# Creating columnns to hold round points for both the elf and myself

df2['Elf round point'] = [x[0] for x in df2['Results']]
df2['My round point'] = [x[1] for x in df2['Results']]
df2.head()

   Round  Raw Predicted Strategy Results  Elf round point  My round point
0      1  A Y         A        Y  (3, 3)                3               3
1      2  A Y         A        Y  (3, 3)                3               3
2      3  B X         B        X  (6, 0)                6               0
3      4  A Y         A        Y  (3, 3)                3               3
4      5  C Y         C        Y  (3, 3)                3               3

In [246]:
# A list to hold all of my weapon choices based on Strategy columns
my_weapon = []

for i,x in enumerate(df2['Strategy']):
    if x == 'X':
        #I need to lose
        my_weapon.append(decision['Lose'][df2['Predicted'][i]])
    elif x == 'Y':
        #I need to draw
        my_weapon.append(decision['Draw'][df2['Predicted'][i]])
    elif x == 'Z':
        #I need to win
        my_weapon.append(decision['Win'][df2['Predicted'][i]])
        
df2['My weapon'] = my_weapon
df2.head(5)

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,My weapon
0,1,A Y,A,Y,"(3, 3)",3,3,X
1,2,A Y,A,Y,"(3, 3)",3,3,X
2,3,B X,B,X,"(6, 0)",6,0,X
3,4,A Y,A,Y,"(3, 3)",3,3,X
4,5,C Y,C,Y,"(3, 3)",3,3,Z

In [247]:
# Mapping weapon points

my_weapon_point2 = []
elf_weapon_point2 = []

for x in df2['My weapon']:
    if x == 'X':
        my_weapon_point2.append(1)
    elif x == 'Y':
        my_weapon_point2.append(2)
    else:
        my_weapon_point2.append(3)
        
for x in df2['Predicted']:
    if x == 'A':
        elf_weapon_point2.append(1)
    elif x == 'B':
        elf_weapon_point2.append(2)
    else:
        elf_weapon_point2.append(3)
        
df2['Elf weapon point'] = elf_weapon_point2
df2['My weapon point'] = my_weapon_point2

df2['Elf total points'] = df2['Elf round point'] + df2['Elf weapon point']
df2['My total points'] = df2['My round point'] + df2['My weapon point']

df2.head(5)

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,My weapon,Elf weapon point,My weapon point,Elf total points,My total points
0,1,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
1,2,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
2,3,B X,B,X,"(6, 0)",6,0,X,2,1,8,1
3,4,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
4,5,C Y,C,Y,"(3, 3)",3,3,Z,3,3,6,6

In [248]:
df2['My total points'].sum()

11186

In [249]:
df2['Elf total points'].sum()

13007